@import "main.scss";

$default-gap: 16px;
$default-border-radius: 15px;

.main-wrapper {
  display: flex;
  height: 100%;

  gap: $default-gap;
}

.big-card {
  flex: 1;
  height: inherit;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}

.gradient {
  border-radius: $default-border-radius;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    darken(transparent, 1),
    darken(rgba(0, 0, 0, 0.625), 5)
  );
}

.big-card video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
  border-radius: inherit;
}

.card h1 {
  font-size: 128px;
  width: min-content;

  z-index: 2;
  line-height: 1;
  padding: 50px;
}

.small-card-wrapper {
  flex: 0.3;
  height: inherit;
  gap: $default-gap;

  display: flex;
  flex-direction: column;
}

.small-card {
  height: inherit;
}

.card {
  border-radius: $default-border-radius;
}


.small-card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  
}

.brightness-animate-element {
  filter: brightness(70%);
  transition: 0.3s ease;
}

.brightness-animate-element.brightness-animating {
  filter: brightness(100%);
}

.small-card:nth-child(1) {
  background-image: url("https://framerusercontent.com/images/EKJJBnLQzSzsS1Sp8JrOMfZgqw.webp");
}

.small-card:nth-child(2) {
  background-image: url("https://framerusercontent.com/images/slPotYXPFXAfEsa1a4GJhZIk.webp");
}

.small-card:nth-child(3) {
  background-image: url("https://framerusercontent.com/images/InB1qO4eodYHQXKOVBszhLURHE.webp");
}