@import "main.scss";

.big-card {
  flex: 1;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}

.gradient {
  border-radius: $default-border-radius;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    darken(transparent, 1),
    darken(rgba(0, 0, 0, 0.625), 5)
  );
}

.big-card video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
  border-radius: inherit;
}

.card h1 {
  font-size: 6rem;
  width: min-content;

  z-index: 2;
  line-height: 1;
  padding: 50px;
}

.small-card-wrapper {
  flex: 0.3;
  gap: $default-gap;

  display: flex;
  flex-direction: column;
}

.small-card {
  position: relative;
  flex: 1;
  cursor: pointer;
}

.card {
  border-radius: $default-border-radius;
  display: flex;
  justify-content: flex-end;
}

.brightness-animate-element {
  filter: brightness(70%);
  transition: 0.3s ease;
}

.brightness-animate-element.brightness-animating {
  filter: brightness(100%);
}

.small-card img {
  position: absolute;

  border-radius: inherit;
  image-rendering: auto;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-action-section {
  z-index: 2;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  background-color: $background-secondary-color;
  justify-self: flex-end;

  align-self: flex-end;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
  padding: 20px;
  margin: 5px;
}
