@import "main.scss";

.main-wrapper {
  display: flex;
  height: 100%;

  gap: $default-gap;
}

.big-card {
  flex: 1;
  height: inherit;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}

.gradient {
  border-radius: $default-border-radius;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    darken(transparent, 1),
    darken(rgba(0, 0, 0, 0.625), 5)
  );
}

.big-card video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
  border-radius: inherit;
}

.card h1 {
  font-size: 6rem;
  width: min-content;

  z-index: 2;
  line-height: 1;
  padding: 50px;
}

.small-card-wrapper {
  flex: 0.3;
  height: inherit;
  gap: $default-gap;

  display: flex;
  flex-direction: column;
}

.small-card {
  position: relative;
  height: inherit;
  cursor: pointer;
}

.card {
  border-radius: $default-border-radius;
  display: flex;
}

.brightness-animate-element {
  filter: brightness(70%);
  transition: 0.3s ease;
}

.brightness-animate-element.brightness-animating {
  filter: brightness(100%);
}

.small-card img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;

  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.card-action-section {
  z-index: 2;
  position: absolute;
  left: calc(100% - 210px);
  top: calc(100% - 60px);
  width: 200px;
  height: 50px;
  background-color: white;
  border-radius: inherit;
  background-color: $background-secondary-color;
  justify-self: flex-end;
}
