@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$background-color: #0a0b0a;
$background-secondary-color: #111111;
$text-color: #efe6d2;
$default-gap: 16px;
$default-border-radius: 15px;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: $text-color;
  font-family: "Forum", cursive;
  font-weight: lighter;
}

body {
  padding: 25px;
  background-color: $background-color;
  height: 100vh;
}
