@import "main.scss";

$bg_menu_image: "https://framerusercontent.com/images/10I4GJR5nYsUsYnoOPIDjoapkA.webp";

.left-attraction-image {
  flex: 1;
  padding: 50px;
  display: flex;
  font-size: 40px;
  border-radius: inherit;
  align-items: flex-end;
  background-image: url($bg_menu_image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: sticky;
  position: -webkit-sticky;
  top: 25px;
  height: calc(100vh - 50px);
}

@media (max-width: 842px) {
  .left-attraction-image {
    opacity: 0.4;
    position: relative;
    margin-bottom: 30px;

    .right-section-menu {
      padding: 50px;
    }

    h1 {
      opacity: 0;
    }
  }

  .nav-wrapper {
    width: min-content;
  }

  #content {
    flex-direction: column;
    margin: 0;
    width: 100%;
    padding: 0;
  }
}

.right-section-menu {
  flex: 1;

  border: 2px solid #efe6d231;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;
  gap: 50px;
}

.filter-section {
  display: flex;
  gap: 5px;
}

.menu-food-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.content-item {
  display: flex;
  align-items: center;
  gap: 35px;
}

.content-item img {
  width: 150px;
  height: auto;
}

.food-section-title {
  display: flex;
  width: 50%;
  gap: 20px;
  align-items: center;
  font-size: 30px;

  hr {
    height: 1px;
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 0;
  }
}
