@import "main.scss";

.nav-wrapper {
  position: fixed;
  z-index: 3;
  padding: 50px;
  top: 0;
}

.navbar {
  padding: 3px 7.5px;
  display: flex;
  align-items: center;
  gap: 5px;

  background-color: $background-color;
  border-radius: 10px;
}

.nav-header {
  font-weight: 100;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 10px;
}

.menu-button {
  background-color: $background-secondary-color;
  box-shadow: 0 0 2px $text-color;
  border-radius: 6px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-regular-button,
.nav-primary-button {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  font-weight: 300;
  cursor: pointer;
  padding: 12.5px 15px;
  border-radius: 10px;
}

.nav-regular-button:hover {
  box-shadow: 0 0 2px $text-color;
  background-color: $background-secondary-color;
  transition: 0.2s ease;
}

.nav-primary-button {
  box-shadow: 0 0 2px $text-color;
}

.nav-primary-button:hover {
  background-color: #1a1a1a;
  transition: 0.2s ease;
}

.regularbutton-animate-element {
  transition: 0.3s ease;
}

.regularbutton-animate-element.regular-button-animating {
  box-shadow: 0 0 2px $text-color;
  background-color: $background-secondary-color;
}

svg {
  color: black;
  width: 25px;
  height: auto;
}
